
    .nav {
      display: flex;
      flex-direction: row;
      background-color: #1f1f1f;
      color: #000;
      padding: 27px 17px;
    }

    .nav__button {
      display: flex;
      align-items: center;
      color: white;
      background: 0;
      border: 0;
      margin: 5px 0;
      padding: 10px 15px;
      border-radius: 15px;
      cursor: pointer;
    }

    .nav__button:hover {
      background-color: rgba(255, 255, 255, 0.128);
    }

    .nav__button.active {
      background-color: #fdba16;
    }

    .nav__button > span {
      font-size: 18px;
      font-weight: bolder;
      margin-left: 10px;
    }
